  
body {
  font-family: Arial, sans-serif;
  background: #faf3e0;
  padding: 20px;
}

h1 {
  color: #7b0000;
  text-align: center;
}

.contenedor-tarjetas {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tarjeta {
  background: white;
  padding: 15px;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#lista div {
  background: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

